[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
factory-boy = "*"
pytest-mock = "*"
pytz = "*"
python-dateutil = "*"
sqlalchemy = "*"
mypy = "*"
sqlalchemy2-stubs = "*"
python-telegram-bot = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
